.particlejs {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  height: 90%;
  width: 90%;
  overflow: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.logo {
  position: absolute;
  width: 3rem;
  margin: 3rem 3rem 0;
  z-index: 5;
  cursor: pointer;
}

.menu_list {
  padding: 0;
}
.menu_list ul {
  padding: 0;
}
.menu_list li {
  list-style: none;
  line-height: 2rem;
}
.menu_list a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
